.navbar {
  margin-bottom: 0;
}

.navbar-nav > li > a.scrape-new {
  padding: 10px;
  margin-top: 10px;
  font-weight: 800;
  color: white;
}

.navbar-nav > li > a.scrape-new:hover {
  background: #4caf50;
}

.navbar-nav > li > a.scrape-new:active {
  background: #e51c23;
}